/* CONTACT */
$color_fondo_boton_contacto: #680168;
$color_hover_boton_contacto: #6801689f;


/* AUTH */
$color_fondo_boton_auth: red;
$color_hover_boton_auth: rgba(255, 0, 0, 0.507);
/* PRODUCTO */
$color_fondo_boton_artiuclo: #a8a8a8;
$color_hover_boton_artiuclo: #a8a8a8af;

/* MODAL */
$color-fondo-modal: white;
$color-borde-modal: white;
$radio-borde-modal: 20px;

/* BOTONES */
$padding-botones: 10px 20px;
$color-botones-rojo:red;
$color-botones-verde:#4CAF50;
$color-blanco:white;
$color-negro:black