@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Nunito:wght@300&display=swap");
header {
  background-color: #fff;
  padding: 5px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 106px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
}
header nav ul li {
  padding: 5px;
}
header nav ul li:hover {
  background-color: #f5f5f5;
}
header nav ul li img {
  width: 52px;
  height: 52px;
}
header nav ul a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
header nav ul #menu_usuario img {
  width: 30px;
  height: auto;
  border-radius: 50%;
}
header nav .busqueda {
  display: flex;
  align-items: center;
}
header nav .busqueda button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}
header nav .busqueda button img {
  width: 20px;
  height: auto;
}
header nav .busqueda input[type=search] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin-left: 8px;
}
header nav .busqueda input[type=search]:focus {
  border-color: red;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
footer div.columnas {
  width: 100%;
  display: flex;
  flex-direction: row;
}
footer div.columnas div {
  flex: 1;
  padding: 1rem;
  color: white;
}
footer div.columnas div ul {
  list-style-type: none;
  margin-left: 0;
}
footer div.columnas div a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}
footer div.columnas div a:hover {
  text-decoration: underline;
}
footer div.columnas div:nth-child(1) {
  flex: 2;
}

/* CONTACT */
/* ABOUT */
/* AUTH */
/* PRODUCTO */
div.auth {
  padding: 20px 300px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
div.auth form.authForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
div.auth form.authForm h2 {
  color: #333;
}
div.auth form.authForm label {
  display: block;
  margin-top: 10px;
}
div.auth form.authForm input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
div.auth form.authForm button {
  background-color: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
div.auth form.authForm button:hover {
  background-color: rgba(255, 0, 0, 0.507);
}
div.auth form.authForm p {
  margin-top: 15px;
}
div.auth form.authForm p a {
  color: red;
  text-decoration: none;
}
div.auth form.authForm p a:hover {
  text-decoration: underline;
}

/* CONTACT */
/* ABOUT */
/* AUTH */
/* PRODUCTO */
main.container {
  max-width: 800px;
  margin: 20px auto;
}
main.container section {
  text-align: center;
}
main.container section p {
  margin-bottom: 20px;
}
main.container section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.container section form label {
  display: block;
  margin-top: 10px;
}
main.container section form input, main.container section form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: 1px solid #680168;
  border-radius: 4px;
}
main.container section form input:focus, main.container section form textarea:focus {
  border-color: #680168;
}
main.container section form button {
  background-color: #680168;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
main.container section form button:hover {
  background-color: rgba(104, 1, 104, 0.6235294118);
}
main.container section div {
  margin-top: 40px;
}
main.container section div p {
  margin: 10px 0;
}

main.container-about {
  max-width: 800px;
  height: 100%;
  margin: 20px auto;
}
main.container-about section {
  text-align: left;
}
main.container-about section h2 {
  color: #333;
}
main.container-about section p {
  color: #555;
  margin-bottom: 20px;
}
main.container-about section div {
  margin-bottom: 40px;
}
main.container-about section div h3 {
  color: #333;
}
main.container-about section div p {
  color: #555;
  margin: 10px 0;
}
main.container-about section div ul {
  list-style-type: none;
  margin-left: 20px;
}
main.container-about section div ul li {
  margin-bottom: 8px;
  list-style-type: square;
}
main.container-about section iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* CONTACT */
/* ABOUT */
/* AUTH */
/* PRODUCTO */
/* CONTACT */
/* ABOUT */
/* AUTH */
/* PRODUCTO */
main.articulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.articulo div.contenedor {
  padding-top: 30px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main.articulo div.contenedor div.fotos img {
  width: 512px;
  height: 512px;
  -o-object-fit: fill;
     object-fit: fill;
}
main.articulo div.contenedor div.galeria img {
  width: 87px;
  height: 87px;
  -o-object-fit: cover;
     object-fit: cover;
}
main.articulo div.contenedor section {
  margin-left: 38px;
}
main.articulo div.contenedor section h1 {
  font-size: 50px;
  margin: 0;
  font-weight: 400;
}
main.articulo div.contenedor section h2 {
  font-size: 26px;
  font-weight: 400;
  padding: 5px 0;
}
main.articulo div.contenedor section p {
  margin: 0 0 10px;
}
main.articulo div.contenedor section h3 {
  font-size: 18px;
  font-weight: 400;
}
main.articulo div.contenedor section select {
  background: #f1f1f1;
  border: medium none;
  padding: 2px 20px;
  width: 230px;
}
main.articulo div.contenedor section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
main.articulo div.contenedor section table th {
  background-color: black;
  color: white;
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}
main.articulo div.contenedor section table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
main.articulo div.contenedor section div > button {
  background: #a8a8a8;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: 400;
}
main.articulo div.contenedor section div > button:hover {
  background: rgba(168, 168, 168, 0.6862745098);
}

* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nunito", sans-serif;
}/*# sourceMappingURL=style.css.map */